.app {
 
  padding-bottom: 70px;
  width: 375px;
  margin-left: "590px";

}

.content {
  padding: 20px;
}

.pageSetting{
  width:375px !important; 
  margin-left:580px !important;
  margin-top:150px;
}
/*afdfa*/